decorator==4.0.11
dj-database-url==0.4.1
Django==1.10.4
django-sslify==0.2.7
gunicorn==19.6.0
ipython==5.3.0
ipython-genutils==0.2.0
pexpect==4.2.1
pickleshare==0.7.4
prompt-toolkit==1.0.14
psycopg2==2.6.2
ptyprocess==0.5.1
Pygments==2.2.0
requests==2.13.0
simplegeneric==0.8.1
six==1.10.0
traitlets==4.3.2
wcwidth==0.1.7
Werkzeug==0.12.1
whitenoise==3.2
